* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    user-select: none;
}

body {
    background-color: #070724;
    background-image: url(./assets/stars.png);
    background-attachment: fixed;
    animation-name: moveStars;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-position-y: calc(520px * var(--app-scale));
}

@keyframes moveStars {
    100% {
        background-position: calc(1440px * var(--app-scale)) calc(520px * var(--app-scale));
    }
}

header {
    width: 100%;
    height: calc(70px * var(--app-scale));
    position: fixed;
    top: 0px;
    left: 0px;
    border-bottom: calc(1px * var(--app-scale)) solid rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px calc(30px * var(--app-scale));
    z-index: 9;
    background-color: transparent;
    /* transition: background-color 500ms; */
    background-color: #070724;
    background-image: url(./assets/stars.png);
    animation-name: moveStars;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-position-y: calc(520px * var(--app-scale));
}

header > h1 {
    color: white;
    font-family: Antonio;
    font-size: calc(28px * var(--app-scale));
    letter-spacing: calc(-1.05px * var(--app-scale));
}

header > nav {
    display: flex;
    gap: calc(30px * var(--app-scale));
}

header > nav > a {
    font-family: 'League Spartan', sans-serif;
    color: white;
    font-size: calc(11.5px * var(--app-scale));
    font-weight: normal;
    letter-spacing: 1px;
    opacity: 0.75;
    text-decoration: none;
}
header > nav > a{
    cursor: pointer;
}

header > nav > a.active {
    opacity: 1;
    cursor: default;
}

.burger {
    display: none;
    width: calc(30px * var(--app-scale));
    height: calc(23px * var(--app-scale));
    align-items: center;
    position: relative;
}
.burger > .burgerIcon {
    width: 100%;
    height: calc(3px * var(--app-scale));
    background-color: white;
    transition: 300ms;
}
.burger > .burgerIcon::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: calc(3px * var(--app-scale));
    background-color: white;
    transition: 300ms;
}

.burger > .burgerIcon::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: calc(3px * var(--app-scale));
    background-color: white;
    transition: 300ms;
}

.burger.clicked > .burgerIcon {
    background-color: transparent;
}
.burger.clicked > .burgerIcon::before {
    transform: rotate(45deg);
    top: calc(10px * var(--app-scale));
}
.burger.clicked > .burgerIcon::after {
    transform: rotate(-45deg);
    bottom: calc(10px * var(--app-scale));
}

main {
    padding: calc(80px * var(--app-scale)) 8vw calc(50px * var(--app-scale)) 8vw;
    margin-top: calc(70px * var(--app-scale));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imageContainer {
    display: flex;
    justify-content: center;
    width: 60%;
    height: calc(550px * var(--app-scale));
}

.imageContainer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: scale(var(--app-scale));
}

.imageContainer.isSaturn > div::after {
    content: '';
    background-image: url(./assets/planets/saturn/saturnCircle.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50.5%;
    transform: translate(-50%,-50%);
    background-size: calc(575px * var(--app-scale));
    width: calc(575px * var(--app-scale));
    height: calc(575px * var(--app-scale));
    z-index: 2;
} 

.imageContainer img {
    pointer-events: none;
    z-index: 1;
}

.imageContainer .halfPart {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0ms;
    transition-timing-function: ease-out;
    z-index: 2;
    left: 49.9%;
    opacity: 1;
}


.imageContainer.internal .halfPart {
    left: 80%;
    opacity: 0;
}

.imageContainer .surface {
    position: absolute;
    top: 85%;
    transform: translate(-50%, -50%);
    transition: 0ms;
    transition-timing-function: ease-out;
    z-index: 3;
    left: 50%;
    opacity: 0;
}

.imageContainer.surface .surface {
    opacity: 1;
}

.imageContainer.transition .halfPart {
    transition: 500ms;
}
.imageContainer.transition .surface {
    transition: 500ms;
}


.planetDescription {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: calc(20px * var(--app-scale));
}
.planetDescription > div {
    display: flex;
    flex-direction: column;
    gap: calc(20px * var(--app-scale));
}
.planetDescription h1 {
    color: white;
    font-family: Antonio;
    font-size: calc(80px * var(--app-scale));
    letter-spacing: calc(-1.05px * var(--app-scale));
    text-transform: uppercase;
}
.planetDescription p {
    color: #FFF;
    font-family: 'League Spartan', sans-serif;
    font-size: calc(14px * var(--app-scale));
    font-style: normal;
    font-weight: 400;
    line-height: calc(25px * var(--app-scale));
    opacity: 0.75;
}

.planetDescription .longText {
    min-height: calc(100px * var(--app-scale));
}

.planetDescription .source {
    display: flex;
    align-items: center;
    gap: calc(3px * var(--app-scale));
}
.planetDescription .source > p {
    display: inline;
    opacity: 0.5;
}
.planetDescription .source > a {
    color: #FFF;
    opacity: 0.5;
    font-weight: bold;
    letter-spacing: calc(1px * var(--app-scale));
    font-family: 'League Spartan', sans-serif;
}
.planetDescription .buttonsContainer {
    display: flex;
    flex-direction: column;
    gap: calc(12px * var(--app-scale));
}
.planetDescription .buttonsContainer > button {
    display: flex;
    background-color: transparent;
    border: calc(1px * var(--app-scale)) solid rgba(255, 255, 255, 0.2);
    color: white;
    text-transform: uppercase;
    height: calc(48px * var(--app-scale));
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 200ms;
    transition-timing-function: ease-in;
} 
.planetDescription .buttonsContainer > button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.planetDescription .buttonsContainer > button.active {
    cursor: default;
}
.planetDescription .buttonsContainer.mercury > button.active {
    background-color: #419EBB;
}
.planetDescription .buttonsContainer.venus > button.active {
    background-color: #EDA249;
}
.planetDescription .buttonsContainer.earth > button.active {
    background-color: #6D2ED5;
}
.planetDescription .buttonsContainer.mars > button.active {
    background-color: #D14C32;
}
.planetDescription .buttonsContainer.jupiter > button.active {
    background-color: #D83A34;
}
.planetDescription .buttonsContainer.saturn > button.active {
    background-color: #CD5120;
}
.planetDescription .buttonsContainer.uranus > button.active {
    background-color: #1EC1A2;
}
.planetDescription .buttonsContainer.neptune > button.active {
    background-color: #2D68F0;
}
.planetDescription .buttonsContainer > button > .number {
    color: #FFF;
    font-family: 'League Spartan', sans-serif;
    font-size: calc(15px * var(--app-scale));
    font-style: normal;
    font-weight: 700;
    letter-spacing: calc(2.571px * var(--app-scale));
    opacity: 0.7;
    padding: 0px calc(20px * var(--app-scale));
}
.planetDescription .buttonsContainer > button > p {
    opacity: 1;
}

footer {
    padding: calc(50px * var(--app-scale)) 8vw;
    display: flex;
    justify-content: space-between;
    color: #FFF;
    text-transform: uppercase;
}

footer > div {
    border: calc(1px * var(--app-scale)) solid rgba(255, 255, 255, 0.2);
    padding: calc(20px * var(--app-scale));
    display: flex;
    flex-direction: column;
    width: 23%;
}
footer > div > p:nth-child(1) {
    color: #FFF;
    font-family: 'League Spartan', sans-serif;
    font-size: calc(11px * var(--app-scale));
    font-weight: 200;
    letter-spacing: calc(1px * var(--app-scale));
    opacity: 0.75;
}
footer > div > p:nth-child(2) {
    color: #FFF;
    font-family: Antonio;
    font-size: calc(40px * var(--app-scale));
    font-weight: 400;
    letter-spacing: calc(-1.5px * var(--app-scale));
}

.burgerMenu {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: calc(5px * var(--app-scale));
    margin-top: calc(120px * var(--app-scale));
    display: none;
}

/* track */
::-webkit-scrollbar-track {
    background: #07072460; 
    border-radius: calc(5px * var(--app-scale));
}

/* thumb */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.75); 
    border-radius: calc(5px * var(--app-scale));
}

/* thumb hover */
::-webkit-scrollbar-thumb:hover {
    background: white; 
}

@media only screen and (max-width: 1500px) {
    .planetDescription .longText {
        min-height: calc(150px * var(--app-scale));
    }
}

@media only screen and (max-width: 1200px) {
    header {
        flex-direction: column;
        height: calc(120px * var(--app-scale));
        justify-content: space-around;
    }
    header > nav {
        gap: calc(20px * var(--app-scale));
    }
    main {
        margin-top: calc(120px * var(--app-scale));
        flex-direction: column;
        padding: 0px calc(25px * var(--app-scale));
    }
    .imageContainer {
        width: 100%;
        height: calc(515px * var(--app-scale));
    }
    .imageContainer img {
        width: 80%;
    }

    .imageContainer.isSaturn > div::after {
        top: 49.9%;
        background-size: calc(454px * var(--app-scale));
        width: calc(454px * var(--app-scale));
        height: calc(454px * var(--app-scale));
    } 

    .imageContainer .halfPart {
        width: 40%;
    }
    .imageContainer .surface {
        width: 30%;
    }
    .planetDescription {
        flex-direction: row;
        width: 100%;
        align-items: center;
    }
    .planetDescription > div {
        width: 50%;
    }
    footer {
        padding: calc(20px * var(--app-scale)) calc(25px * var(--app-scale));
    }
    footer > div > p:nth-child(2) {
        font-size: calc(30px * var(--app-scale));
    }
}
@media only screen and (max-width: 1000px) {
    .imageContainer {
        overflow: hidden;
    }
}
@media only screen and (max-width: 750px) {
    footer > div {
        padding: calc(10px * var(--app-scale));
    }
    footer > div > p:nth-child(1) {
        font-size: calc(10px * var(--app-scale));
    }
    footer > div > p:nth-child(2) {
        font-size: calc(22px * var(--app-scale));
    }
}

@media only screen and (max-width: 500px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        height: calc(70px * var(--app-scale));
        padding: 0px calc(20px * var(--app-scale));
    }
    .burger {
        display: flex;
        cursor: pointer;
        transition: 200ms;
    }
    /* .burgerIcon:hover {
        opacity: 0.8;
    } */
    main {
        margin-top: calc(120px * var(--app-scale));
    }
    .planetDescription > div:nth-child(2) {
        position: fixed;
        top: calc(70px * var(--app-scale));
        left: 0px;
        width: 100%;
        padding: 0px calc(20px * var(--app-scale));
        border-bottom: calc(1px * var(--app-scale)) solid rgba(255, 255, 255, 0.2);
        z-index: 9;
        background-color: #070724;
        background-image: url(./assets/stars.png);
    }
    .planetDescription > div:nth-child(2) > .buttonsContainer {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .planetDescription .buttonsContainer.mercury > button.active {
        border-bottom: calc(3px * var(--app-scale)) solid #419EBB;
        background-color: transparent;
    }
    .planetDescription .buttonsContainer.venus > button.active {
        border-bottom: calc(3px * var(--app-scale)) solid #EDA249;
        background-color: transparent;
    }
    .planetDescription .buttonsContainer.earth > button.active {
        border-bottom: calc(3px * var(--app-scale)) solid #6D2ED5;
        background-color: transparent;
    }
    .planetDescription .buttonsContainer.mars > button.active {
        border-bottom: calc(3px * var(--app-scale)) solid #D14C32;
        background-color: transparent;
    }
    .planetDescription .buttonsContainer.jupiter > button.active {
        border-bottom: calc(3px * var(--app-scale)) solid #D83A34;
        background-color: transparent;
    }
    .planetDescription .buttonsContainer.saturn > button.active {
        border-bottom: calc(3px * var(--app-scale)) solid #CD5120;
        background-color: transparent;
    }
    .planetDescription .buttonsContainer.uranus > button.active {
        border-bottom: calc(3px * var(--app-scale)) solid #1EC1A2;
        background-color: transparent;
    }
    .planetDescription .buttonsContainer.neptune > button.active {
        border-bottom: calc(3px * var(--app-scale)) solid #2D68F0;
        background-color: transparent;
    }


    .planetDescription .buttonsContainer > button {
        padding: 0px calc(5px * var(--app-scale));
        border: none;
    }
    .planetDescription .buttonsContainer .number {
        display: none;
    }
    .planetDescription .buttonsContainer > button {
        padding: 0px calc(5px * var(--app-scale));
        border: none;
    }
    .planetDescription .buttonsContainer > button > p:nth-child(2) {
        font-size: 3vw;
    }
    .planetDescription .buttonsContainer > button.active > p:nth-child(2) {
        margin-top: calc(3px * var(--app-scale));
    }

    .imageContainer img {
        width: 100%;
    }

    .imageContainer .halfPart {
        width: 50%;
    }
    
    .imageContainer.isSaturn img:nth-child(1) {
        width: 60%; 
    }
    
    .imageContainer.isSaturn .halfPart {
        width: 30%;
    }

    .imageContainer .imageSrcSurface {
        width: calc(100px * var(--app-scale));
    }

    .imageContainer.isSaturn > div::after {
        top: 50%;
        background-size: 70%;
        width: 117%;
        height: 117%;
        background-position: center;
    } 
    
    .planetDescription > div:nth-child(1) {
        width: 100%;
        align-items: center;
    }
    .planetDescription h1 {
        font-size: calc(40px * var(--app-scale));
        letter-spacing: 0px;
        font-weight: normal;
    }
    .planetDescription {
        text-align: center;
    }

    footer {
        padding: calc(20px * var(--app-scale));
        flex-direction: column;
        gap: calc(8px * var(--app-scale));
    }

    footer > div {
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: calc(15px * var(--app-scale)) calc(20px * var(--app-scale));;
    }
    header > nav {
        position: fixed;
        top: calc(120px * var(--app-scale));
        /* left: 0px; */
        width: 100%;
        height: 100%;
        z-index: 99;
        background-color: #070724;
        padding: calc(20px * var(--app-scale)) 0px;
        flex-direction: column;
        color: white;
        gap: 0px;
        right: -100%;
        transition: 200ms;
    }

    header > nav.visible {
        right: 0px;
    }

    header > nav > a {
        opacity: 1;
        font-size: calc(21px * var(--app-scale));
        font-weight: 300;
        border-bottom: calc(1px * var(--app-scale)) solid rgba(255, 255, 255, 0.2);
        padding: calc(26px * var(--app-scale)) calc(60px * var(--app-scale));
        position: relative;
        transition: 200ms;
    }

    header > nav > a:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    header > nav > a.active:hover {
        background-color: unset;
    }

    header > nav > a.active {
        font-weight: bold;
    }

    header > nav > a::before {
        content: '';
        width: calc(20px * var(--app-scale));
        height: calc(20px * var(--app-scale));
        border-radius: 100%;
        position: absolute;
        top: 47%;
        left: calc(20px * var(--app-scale));
        transform: translateY(-50%); 
        opacity: 1.25;
    }
    header > nav > a::after {
        content: '>';
        border-radius: 100%;
        position: absolute;
        right: calc(20px * var(--app-scale));
        opacity: .4;
    }

    header > nav > a[value="mercury"]::before {
        background-color: #DEF4FC;
    }
    header > nav > a[value="venus"]::before {
        background-color: #F7CC7F;
    }
    header > nav > a[value="earth"]::before {
        background-color: #545BFE;
    }
    header > nav > a[value="mars"]::before {
        background-color: #FF6A45;
    }
    header > nav > a[value="jupiter"]::before {
        background-color: #ECAD7A;
    }
    header > nav > a[value="saturn"]::before {
        background-color: #FCCB6B;
    }
    header > nav > a[value="uranus"]::before {
        background-color: #65F0D5;
    }
    header > nav > a[value="neptune"]::before {
        background-color: #497EFA;
    }
}  