* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    user-select: none;
}

body {
    background-color: #070724;
    background-image: url(./assets/stars.png);
    background-attachment: fixed;
    animation-name: moveStars;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-position-y: 520px;
}

@keyframes moveStars {
    100% {
        background-position: 1440px 520px;
    }
}

header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    z-index: 1;
    background-color: transparent;
    /* transition: background-color 500ms; */
    background-color: #070724;
    background-image: url(./assets/stars.png);
    animation-name: moveStars;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-position-y: 520px;
}

header.scrolled {
    background-color: #070724;
}

header > h1 {
    color: white;
    font-family: Antonio;
    font-size: 28px;
    letter-spacing: -1.05px;
}

header > nav {
    display: flex;
    gap: 30px;
}

header > nav > a {
    font-family: 'League Spartan', sans-serif;
    color: white;
    font-size: 11.5px;
    font-weight: normal;
    letter-spacing: 1px;
    opacity: 0.75;
    text-decoration: none;
}
header > nav > a{
    cursor: pointer;
}

header > nav > a.active {
    opacity: 1;
    cursor: default;
}

.burgerIcon {
    display: none;
}

main {
    padding: 80px 8vw 50px 8vw;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imageContainer {
    display: flex;
    justify-content: center;
    width: 60%;
    /* height: 450px; */
}

.imageContainer > img {
    pointer-events: none;
}

.planetDescription {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.planetDescription > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.planetDescription h1 {
    color: white;
    font-family: Antonio;
    font-size: 80px;
    letter-spacing: -1.05px;
    text-transform: uppercase;
}
.planetDescription p {
    color: #FFF;
    font-family: 'League Spartan', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    opacity: 0.75;
}

.planetDescription .longText {
    height: 120%
}

.planetDescription .source {
    display: flex;
    align-items: center;
    gap: 3px;
}
.planetDescription .source > p {
    display: inline;
    opacity: 0.5;
}
.planetDescription .source > a {
    color: #FFF;
    opacity: 0.5;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'League Spartan', sans-serif;
}
.planetDescription .buttonsContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.planetDescription .buttonsContainer > button {
    display: flex;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    text-transform: uppercase;
    height: 48px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 200ms;
    transition-timing-function: ease-in;
} 
.planetDescription .buttonsContainer > button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.planetDescription .buttonsContainer > button.active {
    cursor: default;
}
.planetDescription .buttonsContainer.mercury > button.active {
    background-color: #419EBB;
}
.planetDescription .buttonsContainer.venus > button.active {
    background-color: #EDA249;
}
.planetDescription .buttonsContainer.earth > button.active {
    background-color: #6D2ED5;
}
.planetDescription .buttonsContainer.mars > button.active {
    background-color: #D14C32;
}
.planetDescription .buttonsContainer.jupiter > button.active {
    background-color: #D83A34;
}
.planetDescription .buttonsContainer.saturn > button.active {
    background-color: #CD5120;
}
.planetDescription .buttonsContainer.uranus > button.active {
    background-color: #1EC1A2;
}
.planetDescription .buttonsContainer.neptune > button.active {
    background-color: #2D68F0;
}
.planetDescription .buttonsContainer > button > .number {
    color: #FFF;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2.571px;
    opacity: 0.7;
    padding: 0px 20px;
}
.planetDescription .buttonsContainer > button > p {
    opacity: 1;
}

footer {
    padding: 50px 8vw;
    display: flex;
    justify-content: space-between;
    color: #FFF;
    text-transform: uppercase;
}

footer > div {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 23%;
}
footer > div > p:nth-child(1) {
    color: #FFF;
    font-family: 'League Spartan', sans-serif;
    font-size: 11px;
    font-weight: 200;
    letter-spacing: 1px;
    opacity: 0.75;
}
footer > div > p:nth-child(2) {
    color: #FFF;
    font-family: Antonio;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -1.5px;
}

@media only screen and (max-width: 1200px) {
    header {
        flex-direction: column;
        height: 120px;
        justify-content: space-around;
    }
    header > nav {
        gap: 20px;
    }
    main {
        margin-top: 120px;
        flex-direction: column;
        padding: 0px 25px;
    }
    .imageContainer {
        padding: 60px 0px;
        height: auto;
    }
    .imageContainer img {
        width: 285px;
        height: 285px;
    } 
    .planetDescription {
        flex-direction: row;
        width: 100%;
        align-items: center;
    }
    .planetDescription > div {
        width: 50%;
    }
    footer {
        padding: 20px 25px;
    }
    footer > div > p:nth-child(2) {
        font-size: 30px;
    }
}
@media only screen and (max-width: 750px) {
    footer > div {
        padding: 10px;
    }
    footer > div > p:nth-child(1) {
        font-size: 10px;
    }
    footer > div > p:nth-child(2) {
        font-size: 22px;
    }
}

@media only screen and (max-width: 500px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        height: 70px;
        padding: 0px 20px;
    }
    header > nav {
        display: none;
    }
    .burgerIcon {
        display: unset;
    }
    main {
        margin-top: 120px;
    }
    .planetDescription > div:nth-child(2) {
        position: fixed;
        top: 70px;
        left: 0px;
        width: 100%;
        padding: 0px 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        z-index: 1;
        background-color: #070724;
        background-image: url(./assets/stars.png);
    }
    .planetDescription > div:nth-child(2) > .buttonsContainer {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .planetDescription .buttonsContainer.mercury > button.active {
        border-bottom: 3px solid #419EBB;
        background-color: transparent;
    }
    .planetDescription .buttonsContainer.venus > button.active {
        border-bottom: 3px solid #EDA249;
        background-color: transparent;
    }
    .planetDescription .buttonsContainer.earth > button.active {
        border-bottom: 3px solid #6D2ED5;
        background-color: transparent;
    }
    .planetDescription .buttonsContainer.mars > button.active {
        border-bottom: 3px solid #D14C32;
        background-color: transparent;
    }
    .planetDescription .buttonsContainer.jupiter > button.active {
        border-bottom: 3px solid #D83A34;
        background-color: transparent;
    }
    .planetDescription .buttonsContainer.saturn > button.active {
        border-bottom: 3px solid #CD5120;
        background-color: transparent;
    }
    .planetDescription .buttonsContainer.uranus > button.active {
        border-bottom: 3px solid #1EC1A2;
        background-color: transparent;
    }
    .planetDescription .buttonsContainer.neptune > button.active {
        border-bottom: 3px solid #2D68F0;
        background-color: transparent;
    }


    .planetDescription .buttonsContainer > button {
        padding: 0px 5px;
        border: none;
    }
    .planetDescription .buttonsContainer .number {
        display: none;
    }
    .planetDescription .buttonsContainer > button {
        padding: 0px 5px;
        border: none;
    }
    .planetDescription .buttonsContainer > button > p:nth-child(2) {
        font-size: 3vw;
    }
    .planetDescription .buttonsContainer > button.active > p:nth-child(2) {
        margin-top: 3px;
    }
    
    .imageContainer > img {
        width: 180px;
        height: 180px;
    }

    .planetDescription > div:nth-child(1) {
        width: 100%;
        align-items: center;
    }
    .planetDescription h1 {
        font-size: 40px;
        letter-spacing: 0px;
        font-weight: normal;
    }
    .planetDescription {
        text-align: center;
    }

    footer {
        padding: 20px;
        flex-direction: column;
        gap: 8px;
    }

    footer > div {
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 15px 20px;
    }
    
}  